/* app/Home.module.css */
.container {
    background-color: #189ab4;
  }
  
  .header {
    background-color: transparent;
  }
  
  .headerContent {
    padding: 50px;
    color: white;
    background-color: transparent;
  }
  
  .headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: left;
    margin-right: 20px;
  }
  
  .searchForm {
    margin-top: 20px;
  }
  
  .input, .select {
    padding: 10px;
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 20px;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 400px;
    height: auto;
  }
  