/* components/Navbar.module.css */
.nav {
    padding: 10px;
    background-color: #189AB4;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 50px;
  }
  
  .links {
    position: relative;
  }
  
  .link {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  .button {
    margin-left: 15px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdownItem {
    display: block;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
  
  .logo{
    display: inline;
  }
  